html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: rgba(255, 255, 255, 0.897);
	background-color: #e8f4fc;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

input::placeholder {
	color: #072d75;
}

body::-webkit-scrollbar {
	width: 0.7em;
}

body::-webkit-scrollbar-track {
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: #072D75;
	border-radius: 60px;
}
